@model MikahSundermanWebApp.Models.IndexViewModel
@{
    ViewData["Title"] = "Mikah Sunderman";
}
<section id="Top" class="Top">
	<div class="inner">
		<h1>Mikah Sunderman</h1>
	</div>
</section>
<section id="About" class="Section">
</section>
<section id="Education" class="Section">
	<h2>Education</h2>
@foreach (var item in Model.educations)
{
    <div class="container">
        @Html.DisplayFor(modelItem => item.University), @Html.DisplayFor(modelItem => item.Location)
        <br />
        @Html.DisplayFor(modelItem => item.GraduationDate)
        <br />
        @Html.DisplayFor(modelItem => item.Major)
        <br />
        Minor: @Html.DisplayFor(modelItem => item.Minor)
    </div>
}
</section>
<section id="Experience" class="Section">
	<h2>Experience</h2>
@foreach (var item in Model.workExperiences)
{
	<div class="container">
        @Html.DisplayFor(modelItem => item.Position)
        <br />
        @Html.DisplayFor(modelItem => item.Employer)
        <br />
        @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
        <p></p>
    </div>
}
</section>
<section id="Skills" class="Section">
	<h2>Technical Skills</h2>
	<div class="container">
		Programming Languages
        <ul>
@foreach (var item in Model.programmingLanguages)
{
			<li>@Html.DisplayFor(modelItem => item.Language)</li>
}
		</ul>
		Frameworks & APIs
		<ul>
@foreach (var item in Model.frameworkAPIs)
{
            <li>@Html.DisplayFor(modelItem => item.Framework)</li>
}
		</ul>
	</div>
</section>
<section id="Contact" class="Section">
	<h2>Contact</h2>
	<div class="container">
		Email: <a href="mailto:mikahsunderman@gmail.com">mikahsunderman@gmail.com</a>
	</div>
</section>